/.DS_Store
/__pycache__
__pycache__/
*.DS_Store
*.bak
*.cover
*.db
*.egg-info/
*.env
*.iml
*.log
*.pyc
*.pyd
*.pyo
*.sqlite3
*.swo
*.swp
*.tmp
*.venv
.cache/
.coverage
.env/
.idea/
.ipynb_checkpoints/
.log/
.vscode/
Thumbs.db
build/
coverage.xml
dist/
htmlcov/
nosetests.xml
venv/